<!-- Pantalla para usuarios no logueados -->
<div *ngIf="!isLoggedIn; else loggedInContent">
  <header>
    <h1>Bienvenido a la Clínica Virtual</h1>
  </header>

  <div class="main-content">
    <p>Inicia sesión para acceder a las funcionalidades principales.</p>
    <p>
      Como paciente registrado puedes solicitar turnos, ver tus turnos agendados
      y modificar tus datos personales.
    </p>
    <button routerLink="/login">Iniciar sesión</button>
    <button routerLink="/register">Registrarse</button>
  </div>
</div>
<!-- Pantalla para usuarios logueados -->
<ng-template #loggedInContent>
  <header>
    <h1>Bienvenido de nuevo, {{ userName }}!</h1>
  </header>

  <div class="main-content">
    <p>Haz click en alguna de las funciones principales para acceder:</p>

    <!-- Funcionalidades para pacientes -->
     <!--listo-->
    <div *ngIf="userRole === 'Paciente'; else medicoContent">
      <button routerLink="/appointments">Nuevo turno</button>
      <button routerLink="/profile">Mis turnos</button>
      <button routerLink="/profile">Mis datos personales</button>
    </div>

    <!-- Funcionalidades para médicos -->
      <!--listo-->
    <ng-template #medicoContent>
     
      <div *ngIf="userRole === 'Medico'">
        <button routerLink="/agenda">Turnos programados</button>
        <button routerLink="/patients">Gestion de agenda</button>
      </div>

      <!-- Funcionalidades para operadores -->
       <!--listo-->
      <div *ngIf="userRole === 'Operador'">
        <button routerLink="/schedule">Crear paciente</button>
        <button routerLink="/patients-list">Asignar turno</button>
        <button routerLink="/patients-list">Ver agenda medico</button>
        <button routerLink="/patients-list">Ver pacientes del dia</button>
      </div>

      <!-- Funcionalidades para administradores -->
       <!--listo-->
      <div *ngIf="userRole === 'Administrador'">
          
        <button routerLink="/user-management">Ver usuarios</button>
        <button routerLink="/admin-dashboard">Crear usuario</button>
        <button routerLink="/admin-dashboard">Editar usuario</button>

      </div>
    </ng-template>
  </div>
</ng-template>
