<div class="filter-container">
  <input type="text" placeholder="Filtrar por nombre" [(ngModel)]="filtroNombre">
  <input type="text" placeholder="Filtrar por apellido" [(ngModel)]="filtroApellido">
  
  <select [(ngModel)]="filtroRol">
    <option value="Operador">Operador</option>
    <option value="Medico">Médico</option>
    <option value="Paciente">Paciente</option>
    <option value="Administrador">Administrador</option>
  </select>

  <button (click)="aplicarFiltros()">Aplicar Filtros</button>
  <button (click)="borrarFiltros()">Borrar Filtros</button>
</div>

<table mat-table [dataSource]="usuariosFiltrados" class="mat-elevation-z8">
  <!-- Tabla igual que antes -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let usuario"> {{usuario.id}} </td>
  </ng-container>
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let usuario"> {{usuario.nombre}} </td>
  </ng-container>
  <ng-container matColumnDef="apellido">
    <th mat-header-cell *matHeaderCellDef> Apellido </th>
    <td mat-cell *matCellDef="let usuario"> {{usuario.apellido}} </td>
  </ng-container>
  <ng-container matColumnDef="rol">
    <th mat-header-cell *matHeaderCellDef> Rol </th>
    <td mat-cell *matCellDef="let usuario"> {{usuario.rol}} </td>
  </ng-container>
  <ng-container matColumnDef="telefono">
    <th mat-header-cell *matHeaderCellDef> Telefono </th>
    <td mat-cell *matCellDef="let usuario"> {{usuario.telefono}} </td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let usuario"> {{usuario.email}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div class="back-button-container"> 
  <button routerLink="/">volver al inicio</button>
</div>