<div *ngIf="usuario">
  <h2>Datos Personales</h2>
  <form>

    <label for="nombre">Nombre:</label>
    <input id="nombre" [value]="usuario.nombre" disabled />


    <label for="apellido">Apellido:</label>
    <input id="apellido" [value]="usuario.apellido" disabled />


    <label for="fecha_nacimiento">Fecha de nacimiento:</label>
    <input
      id="fecha_nacimiento"
      [value]="usuario.fecha_nacimiento | date : 'yyyy-MM-dd'"
      disabled
    />


    <label for="email">Email:</label>
    <input
      id="email"
      [(ngModel)]="usuario.email"
      name="email"
      [disabled]="!modoEdicion"
    />

 
    <label for="telefono">Teléfono:</label>
    <input
      id="telefono"
      [(ngModel)]="usuario.telefono"
      name="telefono"
      [disabled]="!modoEdicion"
    />


    <label for="password">Password:</label>
    <input
      id="password"
      type="password"
      [(ngModel)]="usuario.password"
      name="password"
      [disabled]="!modoEdicion"
    />


    <label for="cobertura">Cobertura:</label>
    <select
      id="cobertura"
      [(ngModel)]="usuario.id_cobertura"
      name="cobertura"
      [disabled]="!modoEdicion"
    >
      <option *ngFor="let cobertura of coberturas" [value]="cobertura.id">
        {{ cobertura.nombre }}
      </option>
    </select>


    <label for="dni">DNI:</label>
    <input id="dni" [value]="usuario.dni" disabled />


    <button type="button" *ngIf="!modoEdicion" (click)="habilitarEdicion()">
      Editar
    </button>
    <button type="button" *ngIf="modoEdicion" (click)="guardarCambios()">
      Guardar Cambios
    </button>

    <button type="button" (click)="volver()"> Volver al Inicio</button>
  </form>
</div>

<div *ngIf="loading">Cargando...</div>
<div *ngIf="errorMessage">{{ errorMessage }}</div>
