<div class="formulario">
    <form [formGroup]="form">
        <div class="paciente">
            <mat-form-field>
                <mat-label>Asignar turno al paciente</mat-label>
                <mat-select formControlName="paciente" (selectionChange)="onPacienteChange($event.value)">
                    <mat-option *ngFor="let paciente of pacientes" [value]="paciente.id">
                        {{ paciente.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="cobertura">
            <mat-form-field>
                <mat-label>Cobertura</mat-label>
                <mat-select formControlName="cobertura">
                    <mat-option *ngFor="let cobertura of coberturas" [value]="cobertura.id">
                        {{cobertura.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="especialidad">
            <mat-form-field>
                <mat-label>Especialidad</mat-label>
                <mat-select formControlName="especialidad" (selectionChange)="onEspecialidadChange($event.value)">
                    <mat-option *ngFor="let especialidad of especialidades" [value]="especialidad.id">
                        {{ especialidad.descripcion }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="profesional">
            <mat-form-field>
                <mat-label>Profesional</mat-label>
                <mat-select formControlName="profesional" (selectionChange)="onProfesionalChange($event.value)">
                    <mat-option *ngFor="let profesional of profesionales" [value]="profesional.id_medico">
                        {{ profesional.nombre }} {{profesional.apellido}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="fecha">
            <mat-form-field>
                <mat-label>Fecha</mat-label>
                <mat-select formControlName="fecha">
                  <mat-option *ngFor="let fecha of fechasDisponibles" [value]="fecha">
                    {{ fecha }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              
        </div>
        <div class="hora">
            <mat-form-field>
                <mat-label>Hora</mat-label>
                <mat-select formControlName="hora">
                    <mat-option *ngFor="let hora of horasDisponibles" [value]="hora">
                        {{ hora }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="notas">
            <mat-form-field>
                <mat-label>Notas</mat-label>
                <input matInput type="text" formControlName="notas">
            </mat-form-field>
        </div>
        <div class="botones">
            <button type="button" (click)="asignarTurno()">ASIGNAR TURNO</button>
        </div>
    </form>
</div>
