<div class="formulario">
    <form [formGroup]="form">
        <div class="form-group paciente">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Asignar turno al paciente</mat-label>
                <mat-select formControlName="paciente" (selectionChange)="onPacienteChange($event.value)">
                    <mat-option *ngFor="let paciente of pacientes" [value]="paciente.id">
                        {{ paciente.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form-group cobertura">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Cobertura</mat-label>
                <mat-select formControlName="cobertura">
                    <mat-option *ngFor="let cobertura of coberturas" [value]="cobertura.id">
                        {{ cobertura.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form-group especialidad">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Especialidad</mat-label>
                <mat-select formControlName="especialidad" (selectionChange)="onEspecialidadChange($event.value)">
                    <mat-option *ngFor="let especialidad of especialidades" [value]="especialidad.id">
                        {{ especialidad.descripcion }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form-group profesional">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Profesional</mat-label>
                <mat-select formControlName="profesional" (selectionChange)="onProfesionalChange($event.value)">
                    <mat-option *ngFor="let profesional of profesionales" [value]="profesional.id_medico">
                        {{ profesional.nombre }} {{ profesional.apellido }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form-group fecha">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Fecha</mat-label>
                <mat-select formControlName="fecha">
                    <mat-option *ngFor="let fecha of fechasDisponibles" [value]="fecha">
                        {{ fecha }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form-group hora">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Hora</mat-label>
                <mat-select formControlName="hora">
                    <mat-option *ngFor="let hora of horasDisponibles" [value]="hora">
                        {{ hora }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form-group notas">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Notas</mat-label>
                <input matInput type="text" formControlName="notas">
            </mat-form-field>
        </div>

        <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
          </div>

        <div class="form-group botones">
            <button mat-raised-button color="primary" type="button" (click)="asignarTurno()">Asignar Turno</button>
        </div>
    </form>
</div>
