<form [formGroup]="formulario" (ngSubmit)="crearTurno()">
  <label for="cobertura">Cobertura:</label>
  <input id="cobertura" formControlName="cobertura" readonly />

  <label for="especialidad">Especialidad</label>
  <select id="especialidad" formControlName="especialidad" required>
    <option *ngFor="let especialidad of especialidades" [value]="especialidad.id">
      {{ especialidad.descripcion }}
    </option>
  </select>

  <label for="medico">Médico:</label>
  <select id="medico" formControlName="id_agenda"> <!-- Cambiado a id_agenda -->
    <option *ngFor="let medico of medicos" [value]="medico.id">
      {{ medico.nombre }} {{ medico.apellido }}
    </option>
  </select>

  <label for="fecha">Fecha:</label>
  <input id="fecha" type="date" formControlName="fecha" [min]="minDate" />

  <label for="hora">Hora:</label>
  <select id="hora" formControlName="hora">
    <option *ngFor="let hora of horasValidas" [value]="hora">{{ hora }}</option>
  </select>

  <label for="notas">Notas:</label>
  <textarea id="notas" formControlName="notas"></textarea>

  <button type="submit" [disabled]="!formulario.valid">Crear Turno</button>
  <button type="button" (click)="cancelar()">Cancelar</button>
</form>