.formulario {
  max-width: 400px; /* Reducimos el ancho máximo */
  margin: 20px auto; /* Centramos el formulario */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
  text-align: center; /* Centramos los labels */
}

input,
select,
textarea,
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

input[readonly] {
  background-color: #e9ecef;
  color: #495057;
  cursor: not-allowed;
}

textarea {
  resize: none;
  height: 80px;
}

button[type="submit"],
button[type="button"] {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button[type="button"] {
  background-color: #6c757d;
}

button[type="submit"]:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

button[type="button"]:hover,
button[type="submit"]:hover {
  opacity: 0.9;
}

.mensaje-aviso {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.botones {
  display: flex;
  justify-content: space-between;
}